
.navbar-brand {
    font-size: 45px;
    font-weight: bolder;
}

.search-header {
    font-size: 24px;
    font-weight: bold;
}

.city-name {
    font-size: 40px;
}

.forecast-date {
    font-size: 18px;
}
