.jumbotron {
    text-align: center;
    background-color:rgba(48, 51, 53, 0.76);
    color: rgb(255, 255, 255);
    border-radius: 0;
    border-bottom: 3px solid rgb(88, 86, 86);
  }

b.search-column{
    background-color:	#D3D3D3;
}

.list-group-item{
    line-height: 0.5;
    border: none;
}
.card-body{
    flex:auto
}

span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}
